/* Variables */
:root {
    --rosepink: #FF748C;
}

/* Universal */
html {
    font-size: 1rem;
}

/*  Body */
body {
    background-image: url("../images/rose.png");
    background-repeat: no-repeat;
    font-family: 'Montserrat Alternates', sans-serif;
}

hr {
    margin: 3rem;
}

h1 {
    font-family: 'Satisfy', cursive;
}

h2 {
    font-family: 'Satisfy', cursive;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

h4 {
    font-family: 'Satisfy', cursive;
}

/* Background */
.photo {
    max-width: 20%;
    height: auto;
    border: 10% inset black;
    border-radius: 50%;
    margin: 1rem;
}

/* Jumbotron Header */
.jumbotron {
    height: 100vh;
}

.heading {
    margin-top: 45vh;
}

.navbar {
    margin-bottom: 0px;
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--rosepink);
}

/* My Work - Cards */
.top-image {
    max-height: 20rem;
    width: auto;
    filter: opacity(75%);
    filter: grayscale(100%);
}

.card-image {
    max-height: 10rem;
    width: auto;
    filter: opacity(75%);
    filter: grayscale(100%);
}

.card:hover {
    box-shadow: 0 0 10px pink;
    filter:opacity(100%);
}

.card:hover .top-image {
    filter:opacity(100%);
    filter: grayscale(0%);
}

.card:hover .card-image {
    filter:opacity(100%);
    filter: grayscale(0%);
}

.card-link {
    text-decoration: none;
    color: var(--rosepink);
}

.card-link:hover {
    color: black;
}

/* Contact Section */
.contact {
    padding-bottom: 4rem;
}

.link-contact {
    text-decoration: none;
    color: var(--rosepink);
}

.link-contact:hover {
    color: black;
}

/* Footer */
footer p {
    color: gray;
    font-size: 0.7rem;
}


/* Responsive Design */
@include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
    .card-link {
        font-size: 0.5rem;
        word-wrap: normal;
    }
    .link-contact {
        font-size: 1rem;
        word-wrap: normal;
    }
  }

  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  }